.imagCar {
    margin-left: 43%;
    width: 10%;
    margin-bottom: 20px;
}

.card {
    left: 0%;
    right: 0%;
    top: -0.07%;
    bottom: 6.89%;
    background: #FFFFFF;
    /* Drop Shadow */
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.labelNovoPedido {
    margin-left: 1%;
    font-family: Euclid Circular B;
    font-size: 26px;
    line-height: 24px;
}

.labelCliente {
    left: 2.23%;
    right: -7.82%;
    top: 0%;
    bottom: 0%;
    font-family: Euclid Circular B;
    font-size: 22.75px;
    /* or 105% */
    display: flex;
    align-items: flex-end;
    margin-left: 8px;
    color: #373A3C;
}

.imagCliente {
    height: 30px;
    left: 7.38%;
    right: 1.89%;
    top: 6.41%;
    bottom: 10.03%;
}

.ng-untouched .ng-pristine .ng-valid {
    left: 0.03% !important;
    right: -5.61% !important;
    top: 0% !important;
    bottom: 0% !important;
    background: #FFFFFF !important;
    border: 1px solid #CCCCCC !important;
    box-sizing: border-box !important;
    border-radius: 4px !important;
}

.labelCarrinho {
    left: 2.23%;
    right: -7.82%;
    top: 0%;
    bottom: 0%;
    font-family: Euclid Circular B;
    font-size: 22.75px;
    margin-left: 8px;
    ;
    display: flex;
    align-items: flex-end;
}

.hrLinha {
    left: 2.81%;
    right: 51.1%;
    top: 69.6%;
    bottom: 30.4%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 95%;
}

.labelItens {
    left: 2.81%;
    right: 84.07%;
    top: 34.4%;
    bottom: 53.6%;
    font-family: Euclid Circular B;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: flex-end;
    color: rgba(0, 0, 0, 0.4);
}

.labelFrete {
    left: 2.81%;
    right: 83.76%;
    top: 49.6%;
    bottom: 38.4%;
    font-family: Euclid Circular B;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: flex-end;
    color: rgba(0, 0, 0, 0.4);
}

.labelTotal {
    left: 2.81%;
    right: 83.92%;
    top: 77.6%;
    bottom: 10.4%;
    font-family: Euclid Circular B;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: flex-end;
    color: rgba(0, 0, 0, 0.4);
}

.labelTotalPai {
    left: 2.23%;
    right: -7.82%;
    top: 0%;
    bottom: 0%;
    font-family: Euclid Circular B;
    font-size: 22.75px;
    /* identical to box height, or 105% */
    display: flex;
    align-items: flex-end;
    color: #373A3C;
}

.row {
    margin-left: 0px;
}

.labelValores {
    left: 32.87%;
    right: 51.1%;
    top: 34.4%;
    bottom: 53.6%;
    font-family: Euclid Circular B;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    align-items: flex-end;
    text-align: right;
    color: #373A3C;
}

.carrinhoVazio {
    left: 2.01%;
    right: -0.92%;
    top: 76.21%;
    bottom: 14.11%;
    font-family: Euclid Circular B;
    font-size: 36px;
    line-height: 24px;
    /* or 67% */
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.carrinhoVazio2 {
    left: -1.53%;
    right: -4.31%;
    top: 92.95%;
    bottom: -2.47%;
    font-family: Euclid Circular B;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
}