@font-face {
    font-family: Euclid Circular B;
    src: url(assets/fontes/EuclidCircularB-Bold.otf) format("opentype");
}

@font-face {
    font-family: EuclidCircularB-Regular;
    src: url(assets/fontes/EuclidCircularB-Regular.otf) format("opentype");
}

.ng-untouched {
    left: 0.03% !important;
    right: -5.61% !important;
    top: 0% !important;
    bottom: 0% !important;
    background: #FFFFFF !important;
    border: 1px solid #CCCCCC !important;
    box-sizing: border-box !important;
    border-radius: 4px !important;
}

.col-md-6 {
    max-width: 60%;
}

.row {
    margin-left: 0px !important;
}

.ui-megamenu {
    padding: 17px !important;
    background-color: #ffffff !important;
     border: none !important;
}